<nav class="navbar">
  <div class="container d-flex justify-space-between">
    <LinkTo @route="index" title="Home" rel="home">
      <picture>
        <source srcset="/assets/images/logo.webp" type="image/webp">
        <source srcset="/assets/images/logo.png" type="image/png"> 
        <img src="/assets/images/logo.png" alt="Logo It Works Better" class="logo" width="264" height="35">
      </picture>
    </LinkTo>
    <button class="navbar--burger" class={{if this.isOpenMenu 'open'}}
      {{on "click" this.toggleMenu}}
      aria-controls=".menu" 
      aria-expanded={{if this.isOpenMenu "true" "false"}}
      aria-label="Otwórz menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav class={{if this.isOpenMenu 'open menu' 'menu d-flex'}}>
      <LinkTo @route="index" title="Home" rel="home"><div {{on "click" this.closeMenu}}>Home</div></LinkTo>
      <LinkTo @route="scripts" title="Website scripts"><div {{on "click" this.closeMenu}}>Scripts</div></LinkTo>
      <LinkTo @route="projects" title="Website projects"><div {{on "click" this.closeMenu}}>Projects</div></LinkTo>
    </nav>
  </div>
</nav>