<nav class="navbar">
  <div class="container d-flex justify-space-between">
    <LinkTo @route="index" title="Home">
      <picture>
        <source srcset="/assets/images/logo.webp" type="image/webp">
        <source srcset="/assets/images/logo.png" type="image/png"> 
        <img src="/assets/images/logo.png" alt="Logo It Works Better" class="logo">
      </picture>
    </LinkTo>
    <button class="navbar--burger" class={{if this.isOpenMenu 'open'}}
      {{on "click" this.toggleMenu}}
      aria-controls=".menu" 
      aria-expanded={{if this.isOpenMenu "true" "false"}}
      aria-label="Otwórz menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav class={{if this.isOpenMenu 'open menu' 'menu d-flex'}}>
      <LinkTo @route="index" title="Strona główna"><div {{on "click" this.closeMenu}}>Home</div></LinkTo>
      <LinkTo @route="scripts" title="Skrypty stron www"><div {{on "click" this.closeMenu}}>Skrypty</div></LinkTo>
      <LinkTo @route="projects" title="Projekty aplikacji webowych"><div {{on "click" this.closeMenu}}>Projekty</div></LinkTo>
    </nav>
  </div>
</nav>