<nav class="navbar">
  <div class="container d-flex justify-space-between">
    <LinkTo @route="index" title="Home" rel="home">
      <picture>
        <source srcset="/assets/images/logo.webp" type="image/webp">
        <source srcset="/assets/images/logo.png" type="image/png"> 
        <img src="/assets/images/logo.png" alt="IT Works Better" class="logo" width="264" height="35">
      </picture>
    </LinkTo>
    <button type="button" class={{if this.isOpenMenu 'navbar--burger open' 'navbar--burger'}}
      {{on "click" this.toggleMenu}}
      aria-controls=".menu" 
      aria-expanded={{if this.isOpenMenu "true" "false"}}
      aria-label="Otwórz menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class={{if this.isOpenMenu 'open menu' 'menu d-flex'}}>
      <LinkTo @route="index" title="Homepage" rel="home" {{on "click" this.closeMenu}}>Home</LinkTo>
      <LinkTo @route="scripts" title="Website scripts" {{on "click" this.closeMenu}}>Scripts</LinkTo>
      <LinkTo @route="projects" title="Website projects" {{on "click" this.closeMenu}}>Projects</LinkTo>
    </div>
  </div>
</nav>