<title>{{this.model.title}}</title>
<meta name="description" content="{{this.model.description}}" >
<meta name="keywords" content="{{this.model.keywords}}" >

<link rel="shortcut icon" href="{{concat this.model.base_url '/' this.model.image }}">

<link rel="manifest" href="/manifest.webmanifest">

<meta property="og:title" content="{{this.model.title}}" />
<meta property="og:image" content="{{concat this.model.base_url '/' this.model.image }}" />
<meta property="og:image:secure_url" content="{{this.model.image}}" />
<meta property="og:image:width" content="{{this.model.image_width}}" />
<meta property="og:image:height" content="{{this.model.image_height}}" />
<meta property="og:description" content="{{this.model.description}}" />
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{this.model.title}}" />
<meta property="og:locale" content="pl_PL">
<meta property="og:url" content="{{this.model.base_url}}">
<meta property="fb:app_id" content="">

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{this.model.title}}" />
<meta name="twitter:description" content="{{this.model.description}}" />
<meta name="twitter:image" content="{{this.model.image}}" />

<meta name="msapplication-TileColor" content="#3f5a6f" />
<meta name="msapplication-TileImage" content="{{this.model.image}}" />

<link rel="apple-touch-icon" href="/assets/icons/icon-192x192.png" sizes="192x192">
<link rel="apple-touch-icon" href="/assets/icons/icon-512x512.png" sizes="512x512">
<link rel="apple-touch-icon" href="/assets/icons/icon-180x180.png" sizes="180x180">

<meta name="theme-color" content="#ffa105">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="{{this.model.title}}">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

