<title>{{this.model.title}}</title>
<meta name="description" content="{{this.model.description}}" >
<meta name="keywords" content="{{this.model.keywords}}" >

<link rel="shortcut icon" href="{{concat this.model.base_url '/' this.model.image }}">

<meta property="og:title" content="{{this.model.title}}" />
<meta property="og:image" content="{{concat this.model.base_url '/' this.model.image }}" />
<meta property="og:image:secure_url" content="{{concat this.model.base_url '/' this.model.image }}" />
<meta property="og:image:width" content="{{this.model.image_width}}" />
<meta property="og:image:height" content="{{this.model.image_height}}" />
<meta property="og:description" content="{{this.model.description}}" />
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{this.model.title}}" />
<meta property="og:locale" content="pl_PL">
<meta property="og:url" content="{{this.model.base_url}}">

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{this.model.title}}" />
<meta name="twitter:description" content="{{this.model.description}}" />
<meta name="twitter:image" content="{{this.model.image}}" />



