<section aria-labelledby="projects-title">
  <div class="container section page-top">
    <h1 class="display-3 mb-5 header-primary" id="projects-title">Projects of <span class="color-primary">web aplications</span></h1>
    <p>Below you will find our portfolio, including a list of websites and applications that we have created or with which we have cooperated. Many of them are constantly updated with new functions. It is not enough for us that the projects just work. We want it to work better.</p>
  </div>
  <div class="background-secondary">
    <div class="container section">
      {{#each @model as |project|}}
        <div class="project d-flex">
          <div class="project--left">
            <a href="http://{{project.url}}" title="{{project.name}}" target="_blank" rel="nofollow noopener noreferrer">
              <img src="/assets/images/projects/{{project.logo}}" width="300" height="300" loading="lazy" alt="{{project.name}}" class="thumb">
            </a>
          </div>
          <div class="project--right">
            <h2 class="mb-2"><a href="http://{{project.url}}" title="{{project.name}}" target="_blank" rel="nofollow noopener noreferrer" class="color-secondary">{{project.name}}</a></h2>
            <p class="mb-2">{{project.description}}</p>
            <p class="mb-2"><strong>Used technologies</strong>: {{project.stack}}</p>
            <p><a href="http://{{project.url}}" title="{{project.name}}" target="_blank" rel="nofollow noopener noreferrer">{{project.url}}</a></p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>