<section aria-labelledby="scripts-title">
  <div class="container section page-top">
    <h1 class="display-3 mb-5 header-primary" id="scripts-title">Website <span class="color-primary">scripts</span></h1>
    <p>We offer website scripts. Thanks to them, you can create your own portal in a quick and cheap way. Our top product is a universal Notice3 advertisement script. We also offer a script MotoNotice dedicated to automotive advertisements, Holmes2 for real estate advertisements, Festa2 for accommodation base and JobNotice for job offers. We also have a script Demoty2 for the  demotivators website and Cuadro for the website with pictures and videos. Corta script give you possibility to create website to for shortening links. You can buy scripts at competitive prices in our <a href="{{env "shop_url"}}" title="Sklep ze skryptami stron www" target="_blank" rel="noopener">online shop</a>. Older projects can be found for free download at <a href="https://github.com/kamilwyremski" title="GitHub Kamil Wyremski" target="_blank" rel="nofollow noopener noreferrer">GitHub account</a></p>
  </div>
  <div class="background-secondary">
    <div class="container section">
      {{#each @model as |script|}}
        <div class="script row">
          <div class="col text-center">
            <a href="{{script.demo}}" title="Demo of {{script.name}}">
              <img src="/assets/images/scripts/{{script.logo}}" loading="lazy" alt="{{script.name}} - logo" class="logo">
            </a>
          </div>
          <div class="col">
            <h2 class="mb-1">{{script.name}}</h2>
            <p class="mb-2">{{script.description}}</p>
            <p><a href="{{script.demo}}" title="Demo of {{script.name}}" class="btn">See demo</a>
            <a href="{{script.url}}" title="{{script.name}}" class="btn">{{ if script.free 'Download script' 'Buy script' }}</a></p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>