<section aria-labelledby="scripts-title">
  <div class="container section page-top">
    <h1 class="display-3 mb-5 header-primary" id="scripts-title">Website <span class="color-primary">Scripts</span></h1>
    <p>We offer website scripts that enable you to quickly and affordably create your own portal. Our flagship product is the Notice3 classified script. We also provide the MotoNotice script dedicated to automotive advertisements, Holmes2 for real estate advertisements, Festa2 for accommodation listings, and JobNotice for job offers. Additionally, we offer the Demoty2 script for creating demotivators websites, Cuadro for websites featuring pictures and videos, and Corta script for shortening links. You can purchase these scripts at competitive prices in our <a href="{{env "shop_url"}}" title="Online shop with website scripts" target="_blank" rel="noopener noreferrer">online shop</a>. Older projects can be found for free download on our <a href="https://github.com/kamilwyremski" title="GitHub Kamil Wyremski" target="_blank" rel="noopener noreferrer">GitHub profile</a>.</p>
  </div>
  <div class="background-secondary">
    <div class="container section">
      {{#each @model as |script|}}
        <div class="script row">
          <div class="col text-center">
            <a href="{{script.demo}}" title="Demo of {{script.name}}">
              <img src="/assets/images/scripts/{{script.logo}}" loading="lazy" alt="{{script.name}}" class="logo">
            </a>
          </div>
          <div class="col">
            <h2 class="mb-1">{{script.name}}</h2>
            <p class="mb-2">{{script.description}}</p>
            <p><a href="{{script.demo}}" title="Demo of {{script.name}}" class="btn">See demo</a>
            <a href="{{script.url}}" title="{{script.name}}" class="btn">{{ if script.free 'Download script' 'Buy script' }}</a></p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>