<div class="container section page-top">
  <h1 class="display-3 mb-5 header-primary">Skrypty <span class="color-primary">stron www</span></h1>
  <p>Oferujemy gotowe skrypty stron internetowych. Dzięki nim w szybki i tani sposób stworzysz własny portal. Nasz topowy produkt to uniwersalny skrypt ogłoszeniowy Notice3. Oferujemy także skrypt dedykowany pod ogłoszenia motoryzacyjne MotoNotice, pod ogłoszenia nieruchomości Holmes2, pod bazę noclegową Festa2 i pod oferty pracy JobNotice. Posiadamy także skrypt dla strony typu demotywatory Demoty2 oraz dla portalu z obrazkami i filmami Cuadro. Dla strony służącej skracaniu linków proponujemy skrypt Corta. Skrypty możesz zakupić w konkurencyjnych cenach w naszym <a href="{{env "shop_url"}}" title="Sklep ze skryptami stron www" target="_blank">sklepie internetowym</a>. Starsze projekty możesz znaleźć za darmo do pobrania na <a href="https://github.com/kamilwyremski" title="GitHub Kamil Wyremski" target="_blank" rel="nofollow noopener noreferrer">koncie GitHub</a></p>
</div>
<div class="background-secondary">
  <div class="container section">
    {{#each @model as |script|}}
      <div class="script row">
        <div class="col text-center">
          <a href="{{script.demo}}" title="Demo skryptu {{script.name}}">
            {{img-lazy src=(concat "/assets/images/scripts/" script.logo)  alt=(concat project.name " - logo") class="logo"}}
          </a>
        </div>
        <div class="col">
          <h2 class="mb-1">{{script.name}}</h2>
          <p class="mb-2">{{script.description}}</p>
          <p><a href="{{script.demo}}" title="Demo skryptu {{script.name}}" class="btn">Zobacz demo</a>
          <a href="{{script.url}}" title="Skrypt {{script.name}}" class="btn">Kup skrypt</a></p>
        </div>
      </div>
    {{/each}}
  </div>
</div>